[submodule "helena-piano"]
	path = helena-piano
	url = https://github.com/helena751107/helena-piano.git
[submodule "helena-metalcare"]
	path = helena-metalcare
	url = https://github.com/helena751107/helena-metalcare.git
[submodule "helana-faith"]
	path = helana-faith
	url = https://github.com/helena751107/helana-faith.git
[submodule "helana_log"]
	path = helana_log
	url = https://github.com/helena751107/helana_log.git
