[submodule "bayaba-jokbal"]
	path = bayaba-jokbal
	url = https://github.com/bayaba-1979/bayaba-jokbal.git
	branch = main
[submodule "bayaba-chicken"]
	path = bayaba-chicken
	url = https://github.com/bayaba-1979/bayaba-chicken.git
	branch = main
[submodule "bayaba-installation"]
	path = bayaba-installation
	url = https://github.com/bayaba-1979/bayaba-installation.git
	branch = main
[submodule "bayaba_log"]
	path = bayaba_log
	url = https://github.com/bayaba-1979/bayaba_log.git
