{
  "password": "공통_카카오_비밀번호",
  "accounts": [
    {"id": "galaxys21", "email": "누나_카카오_이메일@example.com", "blog": "galaxys21-pwuser"},
    {"id": "mynote",    "email": "누나_카카오_이메일@example.com", "blog": "mynote11605"},
    {"id": "faith",     "email": "누나_카카오_이메일@example.com", "blog": "helana-christianity"},
    {"id": "piano",     "email": "누나_카카오_이메일@example.com", "blog": "helena-piano"},
    {"id": "psycare",   "email": "누나_카카오_이메일@example.com", "blog": "helena-psycare"}
  ]
}
