{
  "password": "your-kakao-password",
  "accounts": [
    {
      "id": "hub",
      "email": "your-kakao-email@example.com",
      "blog": "bayaba-phone"
    },
    {
      "id": "mynote",
      "email": "your-kakao-email@example.com",
      "blog": "bayaba-1979"
    },
    {
      "id": "jokbal",
      "email": "your-kakao-email@example.com",
      "blog": "bayaba-jokbal"
    },
    {
      "id": "chicken",
      "email": "your-kakao-email@example.com",
      "blog": "bayaba-chicken"
    },
    {
      "id": "installation",
      "email": "your-kakao-email@example.com",
      "blog": "bayaba-installation"
    }
  ]
}
